.shelf-products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;

  @media (min-width: 1024px) {
    padding-top: 80px;
  }

  .title-section {
    color: var(--secoundary);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 24px;

    @media (min-width: 1024px) {
      font-size: 32px;
    }
  }

  .shelf-products-item {
    padding: 0;
    width: 100%;
    max-width: 308px;

    @media (min-width: 1024px) {
      padding: 0 8px 16px;
    }

    img {
      width: 100%;
      margin-bottom: 8px;
    }
  }

  .shelf-products-infos {
    padding: 0 27px;
  }

  .product-price {
    color: var(--secoundary);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2px;
  }

  .product-title {
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-description {
    margin: 8px 0;
    color: var(--black);
    height: 54px;
    font-size: 12px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .product-buy-button {
    width: 100%;
    height: 35px;
    background: var(--primary);
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background: var(--primary-hover);
    }
  }

  .products-sku {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
    padding: 0 27px;

    a:first-child, a:hover {
      .product-sku-color {
        border: 2px solid var(--secoundary);
        box-sizing: border-box;
      }
    }

    .product-sku-color {
      border-radius: 4px;
      height: 27px;
      width: 27px;
      border: 2px solid transparent;
    }
  }

  .slick-slide {
    margin-right: 14px;

    @media (min-width: 1024px) {
      margin-right: 0;
    }
  }

  .slick-list {
    margin-right: -30px;
    margin-left: -15px;

    @media (min-width: 1024px) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .slick-arrow {
    width: 20px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='32' viewBox='0 0 20 32' fill='none'%3E%3Cpath d='M0.514971 14.7561L14.7568 0.514971C15.4434 -0.171657 16.5573 -0.171657 17.2439 0.514971L18.9052 2.17621C19.5911 2.86211 19.5918 3.97302 18.9081 4.66038L7.62087 15.9996L18.9074 27.3396C19.5918 28.027 19.5903 29.1379 18.9044 29.8238L17.2432 31.485C16.5566 32.1717 15.4427 32.1717 14.7561 31.485L0.514971 17.2432C-0.171657 16.5566 -0.171657 15.4427 0.514971 14.7561Z' fill='black'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
  }

  .slick-next {
    right: 0;
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;

    &::before {
      display: none;
    }
  }

  .slick-prev {
    left: 0;
    cursor: pointer;

    &::before {
      display: none;
    }
  }
}
