.shelf-products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0 32px;

  .slick-slider.slick-initialized {
    width: 83%;
  }

  .title-section {
    color: #353535;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;

    @media (min-width: 1024px) {
      font-size: 32px;
    }
  }

  &__container {
    margin: 0 8px;
    width: auto !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  &__container-text {
    width: 82%;
    display: flex;
    flex-direction: column;

    .product-price {
      color: #353535;
      font-size: 20px;
      font-weight: 700;
      margin: 2px 0;
    }

    .product-title {
      color: #000;
      font-size: 16px;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .product-description {
      margin: 8px 0;
      color: #000;
      height: 54px;
      font-size: 12px;
      font-weight: 400;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .product-buy-button {
      width: 100%;
      height: 35px;
      background: var(--primary);
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background: var(--primary-hover);
      }
    }
  }

  &__container-colors {
    display: flex;
    gap: 8px;
    padding: 8px 0;

    .product-sku-color {
      border-radius: 4px;
      height: 27px;
      width: 27px;
    }
  }

  .slick-arrow {
    width: 20px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='32' viewBox='0 0 20 32' fill='none'%3E%3Cpath d='M0.514971 14.7561L14.7568 0.514971C15.4434 -0.171657 16.5573 -0.171657 17.2439 0.514971L18.9052 2.17621C19.5911 2.86211 19.5918 3.97302 18.9081 4.66038L7.62087 15.9996L18.9074 27.3396C19.5918 28.027 19.5903 29.1379 18.9044 29.8238L17.2432 31.485C16.5566 32.1717 15.4427 32.1717 14.7561 31.485L0.514971 17.2432C-0.171657 16.5566 -0.171657 15.4427 0.514971 14.7561Z' fill='black'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
  }

  .slick-next {
    right: 0;
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;

    &::before {
      display: none;
    }
  }

  .slick-prev {
    left: 0;
    cursor: pointer;

    &::before {
      display: none;
    }
  }
}
