.top-bar {
  background: var(--secoundary);
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar-text {
  color: var(--white);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  @media (max-width: 1024px) {
    font-size: 10px;
  }
}

.header-row-1 {
  padding: 28px 0;
  background: var(--white);
  width: 100%;

  @media (min-width: 1024px) {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
    position: relative;
    padding: 20px 0;
  }

  .container {
    padding: 0 20px;

    @media (min-width: 1024px) {
      padding: inherit;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    @media (min-width: 1024px) {
      justify-content: space-between;
      gap: 80px;
    }
  }

  .header-logo {
    margin-right: auto;

    @media (min-width: 1024px) {
      margin-right: inherit;
    }

    img {
      width: 110px;

      @media (min-width: 1024px) {
        width: 147px;
      }
    }
  }

  .search-bar {
    &__form {
      display: none;
      align-items: center;
      justify-content: center;
      height: 40px;
      max-width: 791px;
      width: 100%;

      @media (min-width: 1024px) {
        display: flex;
      }

      label {
        height: 100%;
        width: 100%;
      }
    }

    &__input,
    &__btn {
      height: 100%;
      border: none;
      font-weight: 400;
    }

    &__input {
      padding: 0 24px 0 24px;
      outline-color: var(--primary);
    }

    &__input,
    &__input::placeholder {
      background: var(--neutral-500);
      color: var(--secoundary);
      font-size: 12px;
      line-height: 18px;
      border-radius: 8px 0 0 8px;
      width: 100%;
    }

    &__btn {
      color: var(--white);
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      border-radius: 0 8px 8px 0;
      background: var(--primary);
      width: 119px;
      cursor: pointer;
      transition: 0.3s all;

      &:hover {
        background: var(--primary-hover);
      }
    }
  }

  .header-widgets {
    display: none;

    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
    }
  }

  .header-widgets-item {
    a {
      display: flex;
      align-items: center;
      gap: 8px;
      white-space: nowrap;

      span {
        color: var(--secoundary);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
      }
    }
  }

  .btn-minicart {
    border-radius: 8px;
    border: 1px solid var(--primary);
    padding: 12px 17px;
  }

  .icons-mobile,
  .icon-menu-mobile {
    display: flex;
    align-items: center;
    gap: 35px;

    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.header-row-2 {
  width: 100%;
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}
