* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary: #FAA500;
  --primary-hover: #e89a01;
  --secoundary: #353535;
  --gray: #787D83;
  --gray-500: #464B54;
  --neutral: #FAFAFA;
  --neutral-500: #EFEFEF;
  --neutral-900: #C4C4C4;
  --white: #ffffff;
  --black: #000000;
}

.container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

main {
  background: var(--white);

  @media (min-width: 992px) {
    background: var(--neutral);
  }
}
